:root {
    --title-background: cadetblue;
    --block-background: burlywood;
    --body-background: beige;
    --text-general: darkred;
    --text-title: black;
    --text-button: white;
    --button-background: blue;
    --input-background: blanchedalmond;
    --opening-label-background: black;
    --room-visual-background: rgb(0, 110, 5);
}

body {
    padding-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--body-background);
}

.container {
    margin: auto;
    display: inline-block;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: var(--title-background);
    border-radius: 20px;
}

.block {
    border-radius: 20px;
    color: var(--text-general);
    display: inline-block;
    width: 90%;
    background-color:var(--block-background);
    margin-top: 2vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#input-block {
    display:flex;
}

#makers {
    font-size: smaller;
    text-align: center;
}

.input-general {
    flex: 1;
    width: 50%;
}

.input-field {
    width: 100%;
    margin-top: 2vh;
    display: inline-block;
}

.labels {
    display: inline-block;
    padding: 5px;
    background-color: var(--input-background);
    padding-bottom: 20px;
    margin-bottom: -15px;
    border-radius: 10px;
}

.inputs {
    border: 0;
    display: inline-block;
    width: 90%;
    background-color: var(--input-background);
    padding: 5px;
    border-radius: 10px;
    
}

.inputs:focus {
    outline-width: 0;
}

.button {
    margin: 10px;
    background-color: var(--button-background);
    padding: 7px;
    color: var(--text-button);
    border: 0;
    border-radius: 10px;
}

#wrong_input {
    display: none;
    color: white;
    padding:5px;
    background-color: red;
    width: 90%;
}

#room-drawing {
    text-align: center;
    flex: 1;
    width: 100%;
    background-color: var(--room-visual-background);
    border-radius: 20px;
    padding: 10px;
}

.testhouse {
    /* display:inline-block; */
    display: none;
    width: 150px;
    height: 100px;
    background-color: brown;
    border: 5px solid white;
}

#room {
    background-image: url("images/wood_texture2.webp");
    margin: auto;
    background-repeat: repeat;
    background-size:cover;
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: brown;
    border: 5px solid white;
}

.list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#floor_area {
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    padding: 5px;
}

#wall_area {
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    padding: 5px;
}

.list {
    width: 100%;
}

.door-window {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.door-window label {
    display: inline;
    padding: 5px;
    margin-top: 20px;
}

.door-window input {
    width: 80%;
}

.opening_label {
    background-color: var(--opening-label-background);
    color: var(--text-button);
}

@media screen and (min-width: 1200px) {
    .container {
        margin: auto;
        display: inline-block;
        width: 1000px;
    }
}